<!DOCTYPE html>
<html>
<head>
    <title>Volta</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtZONodr8731LhzdyStOKutzP83XjEDvk"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</head>
<body>
    <div id="map" style="height: 500px;""></div>

    <script>
        
        var m = document.getElementById('map');
        var map;

        // put map on page
        function initMap() {
            var mapOptions = {
                zoom: 11,
                center: {lat: 37.765, lng: -122.419}
            };
            map = new google.maps.Map(m, mapOptions);
        }

        // put clusters on map
        function putCluster(markersToClusters){
            var clusterStyles = [
            {
                textColor: 'white',
                url: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
                height: 50,
                width: 50
              }
            ];

            var mcOptions = {
                gridSize: 50,
                styles: clusterStyles,
                maxZoom: 15
            };
            
            var markerCluster = new MarkerClusterer(map, markersToClusters, mcOptions);
        }

        // put single markers on map
        function putMarker(markersSingle){
            for (var i = 0; i < markersSingle.length; i ++){
                markersSingle[i].setMap(map);
                google.maps.event.trigger(markersSingle[i], 'click');
            };
        }

        
        initMap();
        
        // get data from Volta API
        var headers = {
          'Accept':'application/json'
        };

        $.ajax({
          url: 'https://api.voltaapi.com/v1/stations',
          method: 'get',

          headers: headers,
          success: displayData,
        })


        // Active stations vs "under construction" or "needs service" stations
        var active = [];
        var troubled = [];

        function displayData(data){

            // loop over obtained from API stations
            for (var i = 0; i < data.length; i++) {
                var coords = data[i].location.coordinates;
                var latLng = new google.maps.LatLng(coords[1],coords[0]);
                var title = data[i].name;
                
                // set icon depending on status
                if (data[i].status == 'active'){
                    var icon = 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png';
                } else if (data[i].status == 'under construction'){
                    var icon = 'http://maps.google.com/mapfiles/ms/micons/yellow.png';
                } else {
                    var icon = 'http://maps.google.com/mapfiles/ms/micons/red.png';
                };
                
                // create marker
                var marker = new google.maps.Marker({
                        position: latLng,
                        icon: icon,
                        title: title
                    });
                
                // classify marker and put it into appropriate array
                if (data[i].status == 'active'){
                    active.push(marker);
                } else {
                    troubled.push(marker);
                } 
            }
            putCluster(active);
            putMarker(troubled);
        }


    </script>
</body>
</html>