<!DOCTYPE html>
<html>
<head>
    <title>Volta</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtZONodr8731LhzdyStOKutzP83XjEDvk"></script>
    </script>
</head>
<body>
    <div id="map" style="height: 500px;""></div>

    <script>
        
        var m = document.getElementById('map');
        var map;

        // put map on page
        function initMap() {
            var mapOptions = {
                zoom: 13,
                center: {lat: 37.765, lng: -122.419}
            };
            map = new google.maps.Map(m, mapOptions);
        }

        initMap();

        var headers = {
          'Accept':'application/json'

        };

        $.ajax({
          url: 'https://api.voltaapi.com/v1/stations',
          method: 'get',

          headers: headers,
          success: function(data) {
            console.log(JSON.stringify(data));
          }
        })


    </script>
</body>
</html>